html {
    background-color: brown;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 10px;
}
/* En-tête du jeu */ 

.title {
    text-align: center;
    color: brown;
}

.new-game {
    display: flex;
    align-items: center;
    margin: auto;
    background-color: white;
    margin-top: 3rem;
    border: none;
    color: gray;
}

.new-game_image {
    padding-right: 0.5rem;
}
/* Tableau des scores + dé*/
.score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 4rem;
}

.score-1 {
    margin: auto;
}

.score-2 {
    margin: auto;
}

.score-1_name, .score-2_name {
    font-size: 4rem;
    color: gray;
}

.score-1_total, .score-2_total {
    color: lightcoral;
    font-size: 5rem;
    text-align: center;
}

#dice {
    position: absolute;
    top: 18rem;
}

/* Boutons de jeu + score courant*/

.game {
    padding-top: 10rem;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10rem;
}

.cumul-1, .cumul-2 {
    background-color: red;
    text-align: center;
    font-size: 2rem;
    padding: 10px 20px 10px 20px;
}

.current-0, .current-1 {
    color: white;
}

.roll-dice, .hold {
    position: absolute;
    border: none;
    color: gray;
    background-color: white;
    font-size: 2rem;
}

.roll-dice {
    top: 35rem;
}

.hold {
    top: 42rem;
}


/* breakpoint : 700 */

@media screen and (max-width: 700px) {
    .score-1_name, .score-2_name {
        font-size: 1.5rem;
    }

    .score-1_total, .score-2_total {
        font-size: 3rem;
    }

    #dice {
        font-size: 5rem;
    }

    .roll-dice, .hold {
        font-size: 1.5rem;
    }

    .roll-dice {
        top: 25rem;
    }
    
    .hold {
        top: 38rem;
    }
}